.musk {
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  transition: 0.3s;
}
.hmb-musk {
  opacity: 1;
  /* display: block; */
  transition: 0.3s;
  z-index: 2;
}

.open {
  transition: 0.3s;
  transform: translateX(0);
}

.hide {
  display: none;
  /* opacity: 0; */
  transition: 0.3s;
  /* cursor: auto; */
}

.show {
  /* display: block; */
  opacity: 1;
  transition: 0.3s;
  /* transition-timing-function: ease-in-out; */
}

.fa-times {
  display: none;
  /* position: fixed; */
  /* opacity: 0; */
  transition: 0.3s;
}

.fa-bars {
  /* position: fixed; */
  opacity: 1;
  transition: 0.3s;
}

/* ##### */



#btn {
  position: absolute;
  top: 25px;
  right: 4vw;
  z-index: 3;
  display: flex;
  align-items: center;
  color: #000;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin: 0 0 0 auto;
}

#btn p {
  font-size: 1.3em;
  margin-left: 3px;
  font-weight: bold;
}

.hamburger-menu {
  transform: translateX(100%);
  padding-top: 120px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100vh;
  width: 36vw;
  background-color: rgb(34, 34, 34, 0.95);
  text-align: center;
  transition: 0.3s;
}

.hamburger-menu li {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #000;
}
.hamburger-menu:hover {
  opacity: 0.7;
}

