body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  color: #515151;
  font-family: Verdana,Arial,Helvetica,'meirio','メイリオ','Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4',Osaka,'ＭＳ Ｐゴシック',sans-serif;
}
* {
  line-height: 180%;
}
button:hover,
input:hover{
  opacity: 0.6;
}


.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 700px;
  height: 80vh;
  background-color: #dfdddd;
  border-radius: 5px;
  /* z-index: 11; */
  padding: 4rem 4rem 2.5rem 4rem;
}

.modal-form-contents{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
}

.form-contents {
  display: flex;
  margin: 1rem 0;
  border-bottom: 1px solid #000;
}

.form-items {
  display: flex;
  flex-flow: column;
}

.form-contents p:first-child {
  width: 30vw;
}

.form-button {
  text-align: center;
  margin-top: auto;
}
.button-left {
  padding: 1em;
  background-color: #FFFFFF;
  color: #8D8D8D;
  border-radius: 20rem;
  cursor: pointer;
}
.button-right {  
  padding: 1em;
  background-color: #039ECE;
  color: #fff;
  border-radius: 20rem;
  cursor: pointer;
  margin-left: 50px;
}
