@media screen and (max-width:920px) {
  .wrapper {
    min-width: 768px;
    width: auto;
    padding: 10px;
  }
  .content-left {
    width: 30%;
  }
  .content-right {
    width: 65%;
  }

  /* トップページ */
  .toppage-img img {
    width: 100%;
  }

  /* アクセス */
  .map-content-top iframe {
    width: 100%;
  }
}

@media screen and (max-width:768px) {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  .wrapper {
    min-width: 0px;
  }



  /* header */

  .header-wrapper,
  .contents-wrapper,
  .footer-wrapper {
    width: 100%;
    margin: 0;
    padding: 0px;
  }

  .header-wrapper {
    margin: 0 0 20px 0;
    height: auto;
  }

  .header-top {
    display: block;
    text-align: center;
    /* margin: 0; */
  }

  .icon-left {
    margin: 0;
  }

  .icon-right {
    margin: 0;
  }

  .header-text {
    width: 100%;
  }

  .header-call-section {
    width: 220px;
    margin: 0 auto;
  }

  
  .nav-section {
    margin: 30px 10px;
    /* display: none; */
    border: none;
  }

  .nav-content {
    display: flex;
  }

  .nav-content::after {
    content: "";
    display: block;
    clear: both;
  }

  .nav-item {
    background-image: linear-gradient(to top, #070073 0%, #8284BC 100%);
  }

  .nav-title-ja {
    font-size: 0.8em;
  }
  .nav-title-en {
    display: none;
  }

  .nav-item:hover {
    background-image: linear-gradient(to top, #070073 0%, #8284BC 100%);
  }

  .nav-link {
    width: 100%;
  }

  .nav ul a:link {
    background-image: linear-gradient(to top, #070073 0%, #8284BC 100%);
  }

  .nav ul a:hover {
    background-image: linear-gradient(to top, #070073 0%, #8284BC 100%);
  }

  .content-right {
    padding: 0 12px;
    width: 100%;
    margin-bottom: 3em;
  }

  .content-right::after {
    content: " ";
    display: block;
    clear: both;
  }

  .toppage-img img{
    max-width: 100% ;
    width: 100%;
    height: 100%;
  }

  .new-information {
    width: 100%;
  }

  .content-left {
    float: none;
    width: 100%;
    padding: 0 12px;
  }

  .content-left::after {
    content: "";
    display: block;
    clear: both;
  }

  .footer {
    padding: 0 12px;
  }

  
  .footer-nav {
    background-color: #f6f6f6;
  }

  .footer-nav-content {
    flex-wrap: wrap;
    background-color: #8284BC;
    border-radius: 6px;
  }
  
  .footer-address {
    display: block;
    text-align: right;
    padding: 15px 0 0 0;
    height: auto;
  }

  .form-item label {
    margin: 0 15px 0 0;
  }

  /* パンクズリスト */

  .bread-list-content {
    height: auto;
  }


  /* HOME以外 */

  .content-right-title {
    line-height: 1.6;
    height: auto;
    padding: 12px 0 12px 20px;
  }


  /* 事業内容 */

  .inner-title01 {
    border-bottom: solid 3px #8284BC;
  }

  .business-contents-right {
    display: none;
  }
  .business-contents-left {
    width: 100%;
  }
  .business-contents {
    height: auto;
  }



  /* アクセス */

  .map-content-bottom {
    display: block;
  }

  .map-content-bottom div:first-child {
    margin: 0;
    text-align: center;
  }

  .map-content-top iframe {
    width: 100%;
  }


  /* コンタクト */

  .form-contents {
    flex-flow: column;
  }
  .form-contents p:first-child {
    font-weight: bolder;
    color: #8284BC;
    margin-bottom: 10px;
  }

  .form-button {
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
  }
  .button-left {
    margin-top: 30px;
  }

  .thanks_msg {
    box-sizing: content-box;
  }
  .thanks_msg p {
    font-size: 0.8rem;
  }
  .thanks_msg p:last-child {
    display: flex;
    flex-flow: column;
  }
  .button .text {
    display: flex;
    flex-flow: column;
  }

}